// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.center_content {
	text-align: center;
	width: 70%;
	margin: 15% auto;
}